{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            {% if page.subtitle %}
                <h2 class="h4">{{ page.subtitle }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
